<div class="footerBackground pt-8">
    <div class="w-2/3 text-center m-auto flex flex-col text-white font-semibold text-lg">
        <a class="mb-4" href="">À propos</a>
        <a class="mb-4" href="">Blog</a>
        <a class="mb-4" href="">Mes Livres</a>
        <a class="mb-4" href="">Mes emprunts</a>
        <a class="mb-4" href="">Nous Contacter</a>
    </div>
    <div class="border-t-2 border-white text-center text-white text-lg w-3/4 m-auto py-6">
        <p>Fait à Montpellier par Duclos Alex</p>
    </div>
</div>