<section class="w-full p-6 m-auto flex mt-4">
    <img [src]="imagePath" alt="echange de livre" width="200px" height="150px">
    <div class="text-center text-white p-2">
        <h2 class="text-3xl mb-4 underline">Ouvrez vos bibliothèques à d'autres passionnés</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam saepe, impedit odio vel quis cumque asperiores inventore mollitia quos explicabo voluptas eum beatae esse, aperiam voluptatum architecto reprehenderit, suscipit incidunt minus hic accusantium tenetur praesentium?</p>
    </div>
</section>