<div class="w-full m-auto mt-40">
    <h1 class="text-white backgroundTitle py-4 text-5xl text-center font-extrabold mb-16"><i class="fa-solid fa-book"></i> Share Your book</h1>
    <form action="">
        <div class="flex flex-col px-6 mb-2">
            <label class="firstLinearTextColor text-lg font-bold">E-mail</label>
            <input class="bg-gray-100 p-2 rounded-md focus:outline-none focus:ring focus:ring-blue-700" type="text" placeholder="dupont@gmail.com"/>
        </div>
        <div class="flex flex-col px-6">
            <label  class="firstLinearTextColor text-lg font-bold">Mot de passe</label>
            <input class="bg-gray-100 p-2 rounded-md focus:outline-none focus:ring focus:ring-blue-700" type="password" placeholder="Au moins 6 caractères et un chiffre">
        </div>
        <div class="flex mt-4 px-4">
            <input type="checkbox" class="mr-2 " />
            <p>J'accepte les CGU et la politique de confidentialité</p>
        </div>

        <div class="w-4/5 m-auto mt-6">
            <button class="w-full bg-rose-400 p-4 rounded-lg text-white font-semibold text-md" type="submit">Créer mon compte</button>
        </div>

        <div class="text-center mt-6">
            <p class="text-gray-400 font-bold">Déjà inscrit ? <a class="text-rose-400 font-bold">Se connecter </a></p>
        </div>
    </form>
</div>